near-black = #3b3b3b
near-blue = #57A6EB
nearer-blue = #1879cd
purely-plumage = #472D38
hipster-in-blue = #72AD97
khaki = #D6D9BA
beauty-node = #E6AF83
peach-dream-machine = #D16C5C
lighter-dream = #d77e70

@-moz-keyframes spin
    100%
        -moz-transform:rotate(360deg)
@-webkit-keyframes spin
    100%
        -webkit-transform:rotate(360deg)
@keyframes spin
    100%
        -webkit-transform:rotate(360deg)
        transform:rotate(360deg)

body
    background-color khaki
    margin-top 18px
    font-family 'Arial', 'Helvetica'

a
    color blue
    text-decoration none

.bold
    font-weight bold

.header
    text-align center
    margin-bottom 28px

.subtitle
    text-align center
    margin-bottom 40px
    font-size 16px

.list
    .row
        width 750px
        height 50px
        line-height 50px
        margin 0 auto

        .domain
            width 250px
            float left
            text-align center

        a
            font-family 'Inconsolata', 'Arial', 'Helvetica'
            font-size 28px
            text-decoration none
            color purely-plumage
            transition color 0.1s, font-size 0.1s
            -webkit-transition color 0.1s, font-size 0.1s

            &:hover
                color peach-dream-machine
                font-size 32px

    .sep
        width 600px
        height 1px
        margin 30px auto
        background-color gray

.page
    font-family 'Nunito', 'Arial', 'Helvetica'
    width 400px
    height 40px
    margin 50px auto 0 auto
    text-align center
    line-height 40px

    .num
        float left
        height 100%
        width 33.33%
        font-size 15px

    a
        display block
        text-decoration none
        color black
        float left
        height 100%
        width 33.33%
        border-radius 5px
        font-size 20px
        background-color beauty-node
        transition background-color 0.2s
        -webkit-transition background-color 0.2s

        &.dull
            opacity 0.5

        &:not(.dull):hover
            background-color hipster-in-blue

.twitter
    position relative
    display block
    width 180px
    margin 15px auto 0 auto
    opacity 0.3
    transition opacity 0.3s
    -webkit-transition opacity 0.3s

    &:hover
        opacity 1

.footer
    margin-top 10px
    font-family 'Arial', 'Helvetica'
    text-align center
    font-size 12px

    a
        text-decoration none
        color peach-dream-machine
        opacity 0.5
        transition opacity 0.3s
        -webkit-transition opacity 0.3s

        &:hover
            opacity 1

    span
        font-weight bold

.info-bg
    display none
    opacity 0
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color white
    cursor pointer

.info
    display none
    opacity 0
    position fixed
    margin auto
    top 0
    left 0
    bottom 0
    right 0
    width 460px
    height 208px
    border 3px solid black
    border-radius 5px
    text-align center
    background-color white
    transition opacity 0.5s
    -webkit-transition opacity 0.5s

    .title
        margin-bottom 8px
        background-color peach-dream-machine
        font-family 'Nunito', 'Arial', 'Helvetica'
        font-size 24px
        color white
        padding 2px

    .content
        padding 8px

    .list
        font-weight bold
        margin-bottom 10px

        .reg
            margin 0 4px
            border 1px solid black
            border-radius 4px
            padding 5px
            background-color hipster-in-blue
            color white

            &:not(.true)
                opacity 0.5
                cursor default

    .tweet
        margin-top 14px
        margin-bottom 14px

        span
            cursor pointer

        input
            box-sizing content-box
            height 30px
            border 2px solid near-black
            border-radius 4px

        .new-tweet
            margin-right 5px
            width 30px
            height 30px
            vertical-align middle
            cursor pointer

            transition transform 0.3s
            -webkit-transition transform 0.3s

            &:hover
                -webkit-animation spin 0.3s linear 1
                -moz-animation spin 0.3s linear 1
                animation spin 0.3s linear 1

        .text
            width 300px
            padding-left 4px
            font-size 16px
            transition border-color 0.2s
            -webkit-transition border-color 0.2s

            &:hover
                border-color near-blue

            &:focus
                border-color nearer-blue

        input[type='submit']
            margin-left 5px
            font-size 18px
            background-color peach-dream-machine
            cursor pointer
            transition background-color 0.2s
            -webkit-transition background-color 0.2s

            &:hover
                background-color lighter-dream

    .mailing
        padding 4px
        background-color #FFFFBA

        a
            color red
            font-weight bold
