purely_plumage = #472D38
hipster_in_blue = #72AD97
khaki = #D6D9BA
beautfy_nude = #E6AF83
peach_dream_machine = #D16C5C

body
    background-color khaki
    margin-top 18px

.header
    text-align center
    margin-bottom 28px

.subtitle
    text-align center
    margin-bottom 40px
    font-family 'Arial', 'Helvetica'
    font-size 16px

    a
        color blue
        text-decoration none

.list
    .row
        width 750px
        height 50px
        line-height 50px
        margin 0 auto

        .domain
            width 250px
            float left
            text-align center

        a
            font-family 'Inconsolata'
            font-size 28px
            text-decoration none
            color purely_plumage
            transition color 0.1s, font-size 0.1s
            -webkit-transition color 0.1s, font-size 0.1s

            &:hover
                color peach_dream_machine
                font-size 32px

    .sep
        width 600px
        height 1px
        margin 30px auto
        background-color gray

.page
    font-family 'Nunito'
    width 400px
    height 40px
    margin 50px auto 0 auto
    text-align center
    line-height 40px

    .num
        float left
        height 100%
        width 33.33%
        font-size 15px

    a
        display block
        text-decoration none
        color black
        float left
        height 100%
        width 33.33%
        border-radius 5px
        font-size 20px
        background-color beautfy_nude
        transition background-color 0.2s
        -webkit-transition background-color 0.2s

        &.dull
            opacity 0.5

        &:not(.dull):hover
            background-color hipster_in_blue

.twitter
    position relative
    display block
    width 180px
    margin 15px auto 0 auto
    opacity 0.3
    transition opacity 0.3s
    -webkit-transition opacity 0.3s

    &:hover
        opacity 1

.footer
    margin-top 10px
    font-family 'Arial', 'Helvetica'
    text-align center
    font-size 12px

    a
        text-decoration none
        color peach_dream_machine
        opacity 0.5
        transition opacity 0.3s
        -webkit-transition opacity 0.3s

        &:hover
            opacity 1

    span
        font-weight bold
